<div class="container-fluid">
    <div id="geekProfile" class="row">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/#/geek/profile">My Profile</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/#/geek/watchlist">Watchlist</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/#/geek/projects">Projects</a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/#/search">Browse Job</a>
                </div>
            </div>

        </div>
        <div id="mainProfile" class="col-sm-10">
            <h1>My profile info</h1>
            <span>Username</span>
            <br/>
            <span id="emailToChange">valentin.georgiev@abv.bg</span>
            <input id="emailInput" type="email" placeholder="Change email"/>
            <button id="changeEmail">Edit</button>
            <button id="saveEmail">Save</button>
            <br/>
            <button id="changePassword">Change Password</button>
            <br/>
            <input class="change" type="password" placeholder="Old Password"/>
            <br/>
            <input class="change" type="password" placeholder="New Password"/>
            <br/>
            <input class="change" type="password" placeholder="Confirm New Password"/>
            <br/>
            <button class="change">Save</button>
        </div>
    </div>
</div>


<script src="../../javascript/setup/geek/profile.js"></script>