<div class="container-fluid contentALL">
    <div class="geekProfile row">
        <aside class="menuBox col-sm-2 col-md-2 col-lg-2 col-xs-12">
            <nav class="navMenu">
                <ul>
                    <li><a href="/#/geek/profile">My profile</a></li>
                    <li><a href="/#/geek/watchlist">Watchlist <span id="watchlist-badge" class="badge"></span></a></li>
                    <li><a href="/#/geek/projects">Projects <span id="projects-badge" class="badge"></span></a></li>
                    <li><button class="button browse-job">Browse Job</button></li>
                </ul>
            </nav>
        </aside>
        <section class="mainProfile col-sm-10 col-md-10 col-lg-10 col-xs-12">
            <h1 id="hello-geek"></h1>
            <p class="contentAbout">Your profile information:</p>
            <span class="infoType">Username:</span>
            <span id="geek-username"></span>
            <br/>
            <span class="infoType">E-mail:</span>
            <span id="geek-emailToChange"></span>
            <input id="geek-emailInput" type="email" placeholder="Change email"/>
            <button class="button"  id="geek-changeEmail" alt="Click here to change your email">Edit</button>
            <button class="button" id="geek-saveEmail">Save</button>
            <br/>
            <button class="button" id="geek-changePassword">Change Password By Email</button>
            <br/>
            <span id="geek-alert-password"></span>
        </section>
    </div>
</div>

<!--JAVASCRIPT-->
<script src="../../javascript/setup/geek/profile.js"></script>