<div class="container-fluid contentALL">
    <div class="geekProfile row">
        <div class="menuBox col-sm-2 col-md-2 col-lg-2 col-xs-6">
            <nav class="navMenu">
                <ul>
                    <li><a href="/#/geek/profile">My profile</a></li>
                    <li><a href="/#/geek/watchlist">Watchlist</a></li>
                    <li><a href="/#/geek/projects">Projects</a></li>
                    <li><button class="button browse-job">Browse Job</button></li>
                </ul>
            </nav>
        </div>
        <div class="mainProfile col-sm-10 col-md-10 col-lg-10 col-xs-12">
            <h1 id="hello-geek"></h1>
            <span class="contentAbout">Your profile information:</span>
            <br>
            <span class="infoType">Username:</span>
            <span id="username"></span>
            <br/>
            <span class="infoType">E-mail:</span>
            <span id="emailToChange"></span>
            <input id="emailInput" type="email" placeholder="Change email"/>
            <button class="button"  id="changeEmail" alt="Click here to change your email">Edit</button>
            <button class="button" id="saveEmail">Save</button>
            <br/>
            <button class="button" id="changePassword">Change Password</button>
            <br/>
            <input id="changeOldPass" class="change" type="password" placeholder="Old Password"/>
            <br/>
            <input id="changeNewPass" class="change" type="password" placeholder="New Password"/>
            <br/>
            <input id="changeNewConfPass" class="change" type="password" placeholder="Confirm New Password"/>
            <br/>
            <button class="button change">Save</button>
        </div>
    </div>
</div>


<script src="../../javascript/setup/geek/profile.js"></script>