<div class="container-fluid contentALL">
    <div id="geekProfile" class="row">
        <div id="menuBox" class="col-sm-2 col-md-2 col-lg-2 col-xs-6">
            <nav class="navMenu">
                <ul>
                    <li><a href="/#/geek/profile">My profile</a></li>
                    <li><a href="/#/geek/watchlist">Watchlist</a></li>
                    <li><a href="/#/geek/projects">Projects</a></li>
                    <li><button class="button">Browse Job</button></li>
                </ul>
            </nav>
        </div>
        <div id="mainProfile" class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
            <h1>My profile info</h1>
            <span id="username"></span>
            <br/>
            <span id="emailToChange"></span>
            <input id="emailInput" type="email" placeholder="Change email"/>
            <button id="changeEmail">Edit</button>
            <button id="saveEmail">Save</button>
            <br/>
            <button id="changePassword">Change Password</button>
            <br/>
            <input id="changeOldPass" class="change" type="password" placeholder="Old Password"/>
            <br/>
            <input id="changeNewPass" class="change" type="password" placeholder="New Password"/>
            <br/>
            <input id="changeNewConfPass" class="change" type="password" placeholder="Confirm New Password"/>
            <br/>
            <button class="change">Save</button>
        </div>
    </div>
</div>


<script src="../../javascript/setup/geek/profile.js"></script>