<div class="container-fluid">
    <div class="geekProfile row">
        <div class="menuBox col-sm-2 col-md-2 col-lg-2 col-xs-6">
            <nav class="navMenu">
                <ul>
                    <li><a href="/#/geek/profile">My profile</a></li>
                    <li><a href="/#/geek/watchlist">Watchlist</a></li>
                    <li><a href="/#/geek/projects">Projects</a></li>
                    <li><button class="button browse-job">Browse Job</button></li>
                </ul>
            </nav>
        </div>
        <div class="mainProfile col-sm-10 col-md-10 col-lg-10 col-xs-12">
            <h1>Watchlist</h1>
            <div class="table-responsive">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Due date</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="append-body">
                    
                </tbody>
            </table> 
            </div>
        </div>
    </div>
</div>

<script src="../../javascript/setup/geek/watchlist.js"></script>
