<div class="container-fluid">
    <div id="customerProfile" class="row">
        <div class="col-md-2 col-xs-4 col-lg-2 col-sm-2">
            <div class="row">
                <div class="col-md-12 col-xs-18 col-lg-12 col-sm-12">
                    <a href="/#/customer/profile">My Profile</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-18 col-lg-12 col-sm-12">
                    <a href="/#/customer/projects">Projects</a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12 col-xs-18 col-lg-12 col-sm-12">
                    <a href="#/customer/new-project">New Project</a>
                </div>
            </div>

        </div>
        <div id="mainProfile" class="col-md-10 col-xs-14 col-lg-10 col-sm-10">
        	<h1 id="hello-customer"></h1>
            <h1>My profile info</h1>
            <span id="customer-username"></span>
            <br/>
            <span id="customer-emailToChange"></span>
            <input id="customer-emailInput" type="email" placeholder="Change email"/>
            <button id="customer-changeEmail">Edit</button>
            <button id="customer-saveEmail">Save</button>
            <br/>
            <button id="customer-changePassword">Change Password</button>
            <br/>
            <input id="customer-changeOldPass" class="change" type="password" placeholder="Old Password"/>
            <br/>
            <input id="customer-changeNewPass" class="change" type="password" placeholder="New Password"/>
            <br/>
            <input id="customer-changeNewConfPass" class="change" type="password" placeholder="Confirm New Password"/>
            <br/>
            <button class="change">Save</button>
        </div>
    </div>
</div>



<script src="../../javascript/setup/customer/profile.js"></script>