<div class="container-fluid contentALL">
    <div class="customerProfile row">
        <aside class="menuBox col-sm-2 col-md-2 col-lg-2 col-xs-12">
            <nav class="navMenu">
                <ul>
                    <li><a href="/#/customer/profile">My profile</a></li>
                    <li><a href="/#/customer/projects">Projects <span id="customer-projects-badge" class="badge"></span></a></li>
                    <li><button class="button new-project">New Project</button></li>
                </ul>
            </nav>
        </aside>
        <section class="mainProfile col-sm-10 col-md-10 col-lg-10 col-xs-12">
        	<h1 id="hello-customer"></h1>
            <p class="contentAbout">Your profile information:</p>
            <span class="infoType">Username:</span>
            <span id="customer-username"></span>
            <br/>
            <span class="infoType">E-mail:</span>
            <span id="customer-emailToChange"></span>
            <input id="customer-emailInput" type="email" placeholder="Change email"/>
            <button class='button' id="customer-changeEmail">Edit</button>
            <button class='button' id="customer-saveEmail">Save</button>
            <br/>
            <button class="button" id="customer-changePassword">Change Password By Email</button>
            <br/>
            <span id="customer-alert-password"></span>
        </section>
    </div>
</div>




<script src="../../javascript/setup/customer/profile.js"></script>