<div class="container-fluid contentALL">
    <div class="customerProfile row">
        <aside class="menuBox col-md-2 col-xs-12 col-lg-2 col-sm-2">
            <nav class="navMenu">
                <ul>
                    <li><a href="/#/customer/profile">My profile</a></li>
                    <li><a href="/#/customer/projects">Projects <span id="customer-projects-badge" class="badge"></span></a></li>
                    <li><button class="button new-project">New Project</button></li>
                </ul>
            </nav>
        </aside>
        <section class="mainProfile col-md-10 col-xs-12 col-lg-10 col-sm-10">
            <span class="contentAbout">Your Projects:</span>
            <div class="table-responsive">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Due date</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="append-body">
                        <!--APPEND WITH JS-->
                    </tbody>
                </table> 
            </div>
            <ul id="pagination-demo" class="pagination pagination-projects pagination-sm"></ul>
        </section>
    </div>
</div>



<script src="../../javascript/setup/customer/projects.js"></script>