
#geekProfile, #customerProfile{
    border: 1px solid black;
}
#mainProfile{
    border: 1px solid black;
}
.change{
    display:none;
}
#emailInput, #saveEmail{
    display:none;
}
#customer-emailInput, #customer-saveEmail{
    display:none;
}
