<div class="container-fluid contentALL aboutUs">

    <header class="heading">
        <h1>About us</h1>
    </header>
    
    <!-- Contact Form - START -->
    <div class="row">
       <section class="col-lg-8 col-md-8 col-sm-8 col-xs-18">
           <article class="textAbout">
               &nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in aliquet ipsum. Donec sit amet hendrerit tortor. In mauris magna, ornare id luctus in, commodo vel velit. Aliquam accumsan, leo nec volutpat lacinia, dui nunc cursus arcu, eu aliquam metus tortor sed erat. Donec porttitor magna at massa feugiat, nec rutrum orci ultricies. Sed bibendum enim in magna volutpat sodales. Fusce quis risus ac velit vestibulum dapibus. Morbi convallis pulvinar tincidunt. In hac habitasse platea dictumst. Morbi et nunc faucibus, vestibulum ligula nec, mattis purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut sagittis ligula, a tempus erat.
               <br>
               &nbsp;&nbsp;&nbsp;Nullam orci nulla, porttitor porttitor quam non, sodales imperdiet odio. Pellentesque ac massa vel dolor mattis eleifend at a metus. Pellentesque ut erat blandit, accumsan dolor ut, porttitor ante. Nam fermentum lacinia justo id hendrerit. Maecenas ac posuere lectus. Suspendisse at lacus congue nulla aliquet consectetur. Quisque eget nunc commodo, imperdiet magna in, venenatis dui. Ut sagittis ligula et laoreet fringilla. Nunc semper molestie tortor ac ullamcorper.
               <br>
               &nbsp;&nbsp;&nbsp;Vivamus sed felis laoreet, ullamcorper tellus et, porta libero. In porta, dui non scelerisque aliquet, lacus dui ornare arcu, ac malesuada nibh enim non neque. Sed eget elit non diam fermentum ultricies ac ac lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas eleifend tortor a turpis gravida interdum. Pellentesque vehicula nunc a diam bibendum convallis. Donec quis tristique enim. Vivamus vel risus nec purus eleifend laoreet eu eget velit. Suspendisse placerat dignissim purus, a sollicitudin neque congue eu.
               <br>
               &nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in aliquet ipsum. Donec sit amet hendrerit tortor. In mauris magna, ornare id luctus in, commodo vel velit. Aliquam accumsan, leo nec volutpat lacinia, dui nunc cursus arcu, eu aliquam metus tortor sed erat.
           </article>
       </section>
	   <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-18">
           <div class="valentin">
               <img class="img-responsive" src="../images/valentin.jpg" alt="Valentin's picture">
               <p class="about">Internship Front-End developer at eCommera</p>
               <a href="https://github.com/ValentinAlexandrovGeorgiev" alt="Valentin's Github profile">GitHub Profile</a>
           </div>
           <div class="elena">
               <img class="img-responsive" src="../images/elena.jpg" alt="Elena's picture">
               <p class="about">Assistant at Sofia University, Bulgaria</p>
               <a href="https://github.com/elenastoyanovaa" alt="Elena's Github profile">GitHub Profile</a>
           </div>
       </aside>
    </div>
</div>

<script src="../../javascript/about-us.js"></script>