<header id="main-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logoBrand" class="img-responsive" src="../images/logo.png">
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="form-nav" class="nav navbar-nav navbar-right">
                    <li>
                        <button id="register-button" class="button" type="button" data-toggle="modal"
                                data-target="#modal-register">Register
                        </button>
                    </li>
                    <li>
                        <button id="login-button" class="button" type="button" data-toggle="modal"
                                data-target="#modal-login">Log in
                        </button>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>

<section id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
                <header>
                    <h1 id="main-h">What do you want to do?</h1>
                </header>
                <div class="image-logo">
                    <img class="img-responsive" src="../images/GLASSESlogo.png" alt="Register as customer">
                    <br/>
                    <button id="register-customer"></button>
                    <button id="register-geek"></button>
                </div>
            </div>
        </div>
        <div id="statistics" class="row">
            <div id="geek-stat" class="col-sm-4">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span id="geeksCounter"></span>
            </div>
            <div id="project-stat" class="col-sm-4">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <span id="projectsCounter"></span>
            </div>
            <div id="customer-stat" class="col-sm-4">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span id="customersCounter"></span>
            </div>
        </div>
    </div>
</section>

<footer id="main-footer">
    <p id="copyright">
        &copy; 2015 Seek for Geek - Elena Stoyanova & Valentin Georgiev All rights reserved .
    </p>
</footer>


<!--        MODAL:  REGISTER        -->
<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeRegister" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <img src="../images/logo.png" alt="logo"/>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div id="email-form" class="form-group">
                        <label for="register-email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="register-email" placeholder="Email">
                        </div>
                    </div>
                    <div id="username-form" class="form-group">
                        <label for="register-username" class="col-sm-2 control-label">Username</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="register-username" placeholder="Pesho">
                        </div>
                    </div>
                    <div id="password-form" class="form-group">
                        <label for="register-pass" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="register-pass" placeholder="Password">
                        </div>
                    </div>
                    <div id="conf-pass-form" class="form-group">
                        <label for="register-conf-pass" class="col-sm-2 control-label">Confirm Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="register-conf-pass" placeholder="Password">
                        </div>
                    </div>
                    <div id="type-form" class="form-group">
                        <form>
                            <div class="col-sm-offset-4 col-sm-8">
                                <label class="checkbox-inline">
                                    <input type="radio" name="type" id="register-hire" value="hire"> Hire
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="type" id="register-work" value="work"> Work
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="registerButton" class="btn">Create Account</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <span>By registering you confirm that you accept the Terms and Conditions and Privacy Policy</span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="loginInRegister" data-toggle="modal" data-target="#modal-login">Are you have
                    account?
                </button>
            </div>
        </div>
    </div>
</div>

<!--        MODAL:  LOG IN        -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeLogIn" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <img src="../images/logo.png" alt="logo"/>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div id="lg-username-form" class="form-group">
                        <label for="login-username" class="col-sm-2 control-label">Username</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="login-username" placeholder="Username">
                        </div>
                    </div>
                    <div id="lg-password-form" class="form-group">
                        <label for="login-pass" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="login-pass" placeholder="Password">
                        </div>
                        <button type="button" id="btnForgotPass" data-toggle="modal" data-target="#modal-forgot-pass">
                            Forgot Password
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="loginButton" type="submit" class="btn">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="registerInLogin" data-toggle="modal" data-target="#modal-register">If you
                    don't have account yet
                </button>
            </div>
        </div>
    </div>
</div>


<!--        MODAL:  Forgot Password        -->
<div class="modal fade" id="modal-forgot-pass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <img src="../images/logo.png" alt="logo"/>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="forgot-pass-email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="forgot-pass-email" placeholder="Email">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button">Send Password</button>
            </div>
        </div>
    </div>
</div>


<script src="../javascript/setup/home.js"></script>
<script src="../javascript/setup/validation-login.js"></script>