 <header id="main-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logoBrand img-responsive" src="../images/logo.png">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="form-nav nav navbar-nav navbar-right">
                    <li>
                        <button id="register-button" class="button" type="button" data-toggle="modal" data-target="#modal-register">
                            Register
                        </button>
                    </li>
                    <li>
                        <button id="login-button" class="button" type="button" data-toggle="modal" data-target="#modal-login">
                            Log in
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--MAIN-->
<section id="main-content">
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-8 col-xs-12 col-lg-8 col-sm-offset-2 col-sm-8 col-sm-offset-2">
                <header>
                    <h1 id="main-h">What do you want to do?</h1>
                </header>
                <div class="image-logo">
                    <img class="img-responsive" src="../images/GLASSESlogo.png" alt="Register as customer">
                    <br/>
                    <button id="register-customer"></button>
                    <button id="register-geek"></button>
                </div>
            </div>
        </section>
        <section id="statistics" class="row">
            <div class="col-md-12 col-xs-18 col-lg-12 col-sm-12 ">
            <div id="geek-stat" >
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span id="geeksCounter"></span>
            </div>
            <div id="project-stat" >
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <span id="projectsCounter"></span>
            </div>
            <div id="customer-stat" >
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span id="customersCounter"></span>
            </div>
            </div>
        </section>
    </div>
</section>


<!--FOOTER-->
<footer id="main-footer" class="footer">
    <p class="copyright">
        &copy; 2015 Seek for Geek - Elena Stoyanova & Valentin Georgiev All rights reserved .
    </p>
</footer>


<!--        MODAL:  REGISTER        -->
<div class="modals modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <button type="button" id="closeRegister" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <img class="img-responsive" src="../images/logo.png" alt="logo"/>
            </header>
            <section class="modal-body">
                <form class="form-horizontal">
                    <div id="email-form" class="form-group">
                        <label for="register-email" class="col-sm-2 col-lg-2 col-md-2 col-xs-3 control-label">Email</label>

                        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-15">
                            <input type="email" class="form-control" id="register-email" placeholder="example@abv.bg">
                        </div>
                    </div>
                    <div id="username-form" class="form-group">
                        <label for="register-username" class="col-sm-2 col-lg-2 col-md-2 col-xs-3 control-label">Username</label>

                        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-15">
                            <input type="text" class="form-control" id="register-username" placeholder="Example (More than 5 letters)">
                        </div>
                    </div>
                    <div id="password-form" class="form-group">
                        <label for="register-pass" class="col-sm-2 col-lg-2 col-md-2 col-xs-3 control-label">Password</label>

                        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-15">
                            <input type="password" class="form-control" id="register-pass" placeholder="****** (More than 5 symbols)">
                        </div>
                    </div>
                    <div id="conf-pass-form" class="form-group">
                        <label for="register-conf-pass" class="col-sm-2 col-lg-2 col-md-2 col-xs-3 control-label">Confirm</label>

                        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-15">
                            <input type="password" class="form-control" id="register-conf-pass" placeholder="Confirm password">
                        </div>
                    </div>
                    <div id="type-form" class="radioButtons form-group">
                        <form>
                            <div class="col-sm-offset-4 col-sm-8 col-md-8 col-lg-8 col-xs-12">
                                <label class="checkbox-inline">
                                    <input type="radio" name="type" id="register-hire" value="hire"> Hire
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="type" id="register-work" value="work"> Work
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <div id="div-submit" class="col-sm-offset-2 col-sm-10 col-lg-10 col-md-10 col-xs-15">
                            <button type="submit" id="registerButton" class="btn">Create Account</button>
                        </div>
                       

                    </div>
                </form>
            </section>
            <footer class="modal-footer">
                <button type="button" id="loginInRegister" data-toggle="modal" data-target="#modal-login">Do you have an
                    account?
                </button>
            </footer>
        </div>
    </div>
</div>

<!--        MODAL:  LOG IN        -->
<div class="modals modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <button type="button" id="closeLogIn" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <img src="../images/logo.png" class="img-responsive" alt="logo"/>
            </header>
            <section class="modal-body">
                <form class="form-horizontal">
                    <div id="lg-username-form" class="form-group">
                        <label for="login-username" class="col-sm-2 col-lg-2 col-md-2 col-xs-3  control-label">Username</label>

                        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-15">
                            <input type="text" class="form-control" id="login-username" placeholder="Username">
                        </div>
                    </div>
                    <div id="lg-password-form" class="form-group">
                        <label for="login-pass" class="col-sm-2 col-lg-2 col-md-2 col-xs-3  control-label">Password</label>

                        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-15">
                            <input type="password" class="form-control" id="login-pass" placeholder="Password">
                        </div>
                        <button type="button" id="btnForgotPass" data-toggle="modal" data-target="#modal-forgot-pass">
                            Forgot Password?
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 col-lg-10 col-md-10 col-xs-15">
                            <button id="loginButton" type="submit" class="btn">Log In</button>
                        </div>
                    </div>
                </form>
            </section>
            <footer class="modal-footer">
                <button type="button" id="registerInLogin" data-toggle="modal" data-target="#modal-register">
                    Don't have an account yet?
                </button>
            </footer>
        </div>
    </div>
</div>


<!--        MODAL:  Forgot Password        -->
<div class="modals modal fade" id="modal-forgot-pass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <img src="../images/logo.png" class="img-responsive" alt="logo"/>
            </header>
            <section class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="forgot-pass-email" class="col-sm-2 col-lg-2 col-md-2 col-xs-3  control-label">Email</label>

                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                            <input type="text" class="form-control" id="forgot-pass-email" placeholder="Email">
                            <span id="error-reset-pass"></span>
                        </div>
                    </div>
                </form>
            </section>
            <footer class="modal-footer">
                <button id="passButton" type="button">Send Password</button>
            </footer>
        </div>
    </div>
</div>

<!--JAVASCRIPT-->
<script src="../javascript/setup/home.js"></script>
<script src="../javascript/setup/validation-login.js"></script>