<div class="container-fluid contentALL howItWorks">
	<header class="heading">
        <h1>How it works?</h1>
    </header>
	<header class="heading">
        	<h4>Geek</h4>
    	</header>
	<section class="row geekSection">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-18 " id="1-geeksubSection">
			<img src="../../images/how-it-works/geek/icon1.png" alt="" class="iconsSection img-responsive">
			<p class="steps">When you successfully register ,go to <a href="" class="links">your profile</a>
			and include information about you.</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-18 separatorCircle">
			<img src="../../images/how-it-works/separator-circle.png" alt="" class="dividerCircles img-responsive">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-18 " id="2-geeksubSection">
			<img src="../../images/how-it-works/geek/icon2.png" alt="" class="iconsSection img-responsive">
			<p class="steps">Click on the <a href="" class="links">browse jobs</a>
			button and use the searching options to find the perfect project for you.</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-18 separatorCircle">
			<img src="../../images/how-it-works/separator-circle.png" alt="" class="dividerCircles img-responsive">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-18 " id="3-geeksubSection">
			<img src="../../images/how-it-works/geek/icon3.png" alt="" class="iconsSection img-responsive">
			<p class="steps">When you click on a certain project you will open the project's 
			details and there you can add your submission.</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-18 separatorCircle">
			<img src="../../images/how-it-works/separator-circle.png" alt="" class="dividerCircles img-responsive">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-18 " id="4-geeksubSection">
			<img src="../../images/how-it-works/geek/icon4.png" alt="" class="iconsSection img-responsive">
			<p class="steps">Wait for the project owner to choose the winner and if 
			you are the chosen one you will receive the project's price.</p>
		</div>
	</section>
	<header class="heading">
		<h4>Customer</h4>
	</header>
	<section class="row customerSection">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-18 " id="1-customersubSection">
			<img src="../../images/how-it-works/customer/icon1.png" alt="" class="iconsSection img-responsive">
			<p class="steps">When you successfully register ,go to <a href="" class="links">your profile</a>
			and include information about you.</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-18 separatorCircle">
			<img src="../../images/how-it-works/separator-circle.png" alt="" class="dividerCircles img-responsive">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-18 " id="2-customersubSection">
			<img src="../../images/how-it-works/customer/icon2.png" alt="" class="iconsSection img-responsive">
			<p class="steps">Click on the <a href="" class="links">new project</a>
			button and include project information and media.</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-18 separatorCircle">
			<img src="../../images/how-it-works/separator-circle.png" alt="" class="dividerCircles img-responsive">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-18 " id="3-customersubSection">
			<img src="../../images/how-it-works/customer/icon3.png" alt="" class="iconsSection img-responsive">
			<p class="steps">Wait for geeks to add submissions and choose
			the best one.</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-18 separatorCircle">
			<img src="../../images/how-it-works/separator-circle.png" alt="" class="dividerCircles img-responsive">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-18 " id="4-customersubSection">
			<img src="../../images/how-it-works/customer/icon4.png" alt="" class="iconsSection img-responsive">
			<p class="steps">After choosing a winner you will receive payment
			information, which will help you to pay the geek.</p>
		</div>
	</section>
</div>
<script src="../../javascript/setup/how-it-works.js"></script>