<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-4 col-lg-2 col-sm-2">
            <h1 id="project-name"></h1>
            <h3 id="project-category"></h3>
        </div>
        <div id="geek-watchlist" class="col-md-1 col-xs-2 col-lg-1 col-sm-1">
            <button>Eye</button>
        </div>
        <div class="col-md-2 col-md-offset-7 col-xs-4 col-lg-2 col-sm-2">
            <img id="project-picture" width="300px" height="300px" src="#" alt="photo"/>
        </div>

    </div>
    <div class="row">
        <div id="project-details" class="col-md-5 col-xs-7 col-lg-5 col-sm-5">
            <h1>Details</h1>
            <p>Price: <span id="project-price"></span></p>
            <p>Due date: <span id="project-date"></span></p>
            
        </div>
        <div class="col-md-7 col-xs-11 col-lg-7 col-sm-7">
            <h1>Company Info</h1>
            <p>Name: <span id="customer-name"></span></p>
            <p>Email: <span id="customer-email"></span></p>
            <p>Phone: <span id="customer-phone"></span></p>
        </div>
    </div>
    <div id="customer-submisions" class="row">

    </div>
    <div id="geek-add-submit" class="row">
        <div class="col-md-2 col-md-offset-10 col-xs-4 col-lg-2 col-sm-2">
            <button>Add Submit</button>
        </div>
    </div>
</div>

<script src="../javascript/setup/project-details.js"></script>