<div class="container-fluid searchContent contentALL">
    <div class="row">
        <div class="heading col-md-2 col-offset-md-5 col-md-offset-5 col-xs-18 col-lg-2 col-sm-2">
        	<h1>Open Jobs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-18 col-lg-3 col-sm-3">
            <label for="search-input">Search:</label>
            <input type="text" id="search-input" placeholder="Type title of project"/>
        </div>
        <div class="col-md-5 col-xs-18 col-lg-5 col-sm-5">
			<span class="search-about">Categories: </span>
			<button class="button" id="all-projects">All</button>
			<button class="button" id="dev-projects">Development</button>
			<button class="button" id="design-projects">Design</button>
        </div>
        <div class="sliderDiv col-md-4 col-xs-18 col-lg-4 col-sm-4">
			<span class="search-about">Budget: <span id="budget"></span></span>
            <br/>
			<input id="slider2" type ="range" min ="0" max="500" step ="10" value ="0"/>

        </div>
    </div>
    <div class="row">
    	<div class="table-responsive">
			<table class="table table-striped table-hover ">
	            <thead>
	                <tr>
	                    <th>Title</th>
	                    <th>Category</th>
	                    <th>Due date</th>
	                    <th>Price</th>
                        <th>Watch</th>
	                </tr>
	            </thead>
	            <tbody id="append-projects">  
	            </tbody>
	        </table>
    	</div>
        <ul id="pagination-demo" class="pagination pagination-projects pagination-sm"></ul>
   </div>
</div>
             

<script src="../javascript/setup/search.js"></script>
<script src="../javascript/setup/search-input.js"></script>