/*CONTENT*/

.contactUs {
    min-height: 380px;
    height: 100%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    font-size: 1.5em;
    line-height: 2em;
}
.contactUs .button {
    margin-top: 1%;
    padding: 1%;
    float: none;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.5em;
}
.contactUs input,
.contactUs textarea {
    background-color: #B1EEFF;
}
.contactUs .glyphicon {
    color: #004A50;
}
/*RESPONSIVE*/

@media(max-width:768px) {
    .contactUs {
        padding-top: 10%;
    }
    .contactUs span,
    .contactUs input {
        font-size: 0.75em;
    }
    .contactUs,
    .contentALL {
        min-height: auto;
    }
    .contactUs .button {
        padding: 0;
        background-color: #004A50;
    }
    .button:hover {
        background-color: #23D2FF;
        color: #004A50;
    }
}