/*START*/

body,div,header,section,ul,li,input,h1,hr,p{
	margin:0;
	padding:0;
}
html{
    height: 100%;
}
body {
    height:100%;
    position: relative !important;
}
#main-content {
    height:70%;
}
.main-header{
    height:30%;
    width:100%;
}
#main-footer{
    height:auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}



/*NAVIGATION*/
.navbar-default {
    background-color: transparent !important;
}

#main-header .container-fluid {
    background-color: rgba(35,210,255,0.5);
    padding: 0;
}

#main-header .logoBrand {
    position: absolute;
    float: left;
    height: 45px;
}
#main-header .navbar-header{
    width:100%;
    margin:0 !important;
}
#main-header .navbar-header img{
    margin-left:-15px;
}


.button {
    background-color: #004A50; /* Green */
    border: none;
    color: #23D2FF !important;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: normal;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover,.dropdown>a:hover {
    background-color:#23D2FF !important; /* Green */
    color: #004A50 !important;
}

.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: rgba(35,210,255,0.5) !important;
    margin-right: 0;
}

@media (max-width: 768px) {
    .navbar-nav {
        margin: 0 -15px !important;
    }

    .button {
        float: left;
        width: 100%;
        background-color: transparent;
        color: #004A50;
        font-weight: bold;
        border-bottom: 1px solid #004A50;
        padding: 0;
    }
}
.templateNone{
    display: none;
}
.templateOn{
    display: block;
}

/*MAIN CONTENT*/
#main-content {
    clear: both;
    text-align: center;
    align-content: center;
    margin-top:5%;
    margin-bottom:5%;
}

#main-h {
    font-size: 300%;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 3%;
}

.image-logo {
    width: 100%;
    position: relative;
}

.image-logo .img-responsive {
    display: inline;
}

#register-customer {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 15px;
    left: 40px;
    background-color: transparent;
    border: none;
    outline: none;
}

#register-geek {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 15px;
    right: 40px;
    background-color: transparent;
    border: none;
    outline: none;
}

#statistics {
    margin-top: 5%;
    font-size: 2em;
    text-align: center;
    
}
#statistics div{
    display:inline-block;
    padding-right:1%;
    padding-left:1%;
}

.glyphicon {
    color: black;
    font-size:150%;
}

@media (max-width: 768px) {
    #statistics {
        font-size:1.5em;
    }
}

/*FOOTER*/
#main-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  
}

#main-footer .copyright{
    margin-top:0.5%;
    text-align: right !important;
    background-color: rgba(35,210,255,0.5) ;
}
.divider{
    border-color: #23D2FF !important;
}