/*CONTENT*/

.howItWorks {
    min-height: 380px;
    height: 100%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
}
.howItWorks>section .separatorCircle {
    margin-top: 5%;
}
.howItWorks img {
    display: inline;
}
.howItWorks p {
    margin-top: 5%;
}
.howItWorks h1 {
    width: 100%;
    padding-top: 0.25%;
    border-bottom: 1px solid #B1EEFF;
}
.howItWorks .heading {
    width: 100%;
    margin-top: 0;
    padding-top: 0.25%;
    border-bottom: 1px solid #B1EEFF;
}
.howItWorks section {
    padding-left: 10%;
    margin-top: 2%;
    display: flex;
    border-radius: 2%;
}
.howItWorks a {
    color: #004A50;
    font-weight: bold;
}
.howItWorks a:hover {
    color: #23D2FF;
    text-decoration: none;
}
.separateSections {
    margin-top: 10%;
}
@-moz-document url-prefix() {
    .separatorCircle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
_:-ms-lang(x), _:-webkit-full-screen, .separatorCircle {
    display: flex;
    align-items: center;
    justify-content: center; 
}
/*RESPONSIVE*/

@media(max-width:768px) {
    .howItWorks {
        font-size: 1em;
    }
    .howItWorks section {
        padding-left: 0;
        flex-direction: column;
    }
    .howItWorks,
    .contentALL {
        min-height: auto;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }
    .separatorCircle {
        margin-bottom: 5%;
    }
    .geekSection {
        padding-bottom: 5%;
        border-bottom: 1px solid #B1EEFF;
    }
}