body {
    
    background-image: url("../images/glasses.png");
    color: #005C50 !important;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
#content {
    height:60%;

}
.navbarTemplate{
    height:10%;

}
#footerTemplate{
    height:30%;

}
@media (max-width:768px){
    #content {
    height:70%;

}
.navbarTemplate{
    height:25%;
}
#footerTemplate{
    height:25%;
}


/*HEADER*/
#template-header .container-fluid {
    background-color: rgba(138, 202, 101, 0.7);
    padding: 0;
}

#template-header .logoBrand {
    float:left;
    height: 45px;
}
.dropdown>a{
    background-color: transparent !important;
    border: none;
    color: #005C50 !important;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: normal;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#template-header .dropdown-menu{
    background:rgba(138, 202, 101,0.95);
    border:0;
}
#template-header .dropdown ul a{
   font-size: 1.25em;
   color: #005C50 ;
}
@media(max-width:768px){
    .dropdown{
        display:none !important;
    }
    /*the menu options will be available in the footer*/
}
/*FOOTER*/