/*RESETS AND DEFAULT SETTING*/

body,
div,
header,
aside,
article,
section,
ul,
li,
input,
h1,
hr,
p {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    position: relative;
    background-color: #B1EEFF;
    color: #004A50;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.templateNone {
    display: none;
}
.templateOn {
    display: block;
}
.button {
    padding: 10px 20px;
    float: right;
    background-color: #004A50;
    color: #23D2FF;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: normal;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover,
.dropdown>a:hover {
    background-color: #23D2FF;
    color: #004A50;
}
#content {
    min-height: 60%;
    padding-bottom: 1.5%;
    padding-left: 8%;
    padding-right: 8%;
}
.badge {
    background-color: #23D2FF;
    color: #004A50;
}
#footerTemplate {
    min-height: 30%;
}
/*HEADER*/

.navbarTemplate .navbar-header {
    margin: 0;
}
#template-header .container-fluid {
    padding: 0;
    background-color: rgba(35, 210, 255, 0.5);
}
#template-header .logoBrand {
    height: 45px;
    margin-left: -15px;
    padding-left: 5%;
    float: left;
}
#template-header .navbar-default .navbar-nav>.open>a,
#template-header .nav .open>a {
    background-color: transparent;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #23D2FF;
}
#template-header .dropdown>a,
#template-header .dropdown>a:hover {
    float: right;
    background-color: transparent;
    color: #004A50;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: normal;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    
    transition-duration: 0.4s;
}
#template-header .dropdown-menu {
    border: 0;
    background: rgba(35, 210, 255, 0.95);
}
#template-header .dropdown ul a {
    color: #004A50;
    font-size: 1.25em;
}
/*FOOTER*/

#footerTemplate {
    background-image: url("../images/footer.png");
}
#footerTemplate a {
    color: #23D2FF;
    font-style: none;
}
#footerTemplate nav {
    display: flex;
}
#footerTemplate span {
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1px 1px #000;
    line-height: 2em;
}
#footerTemplate ul li {
    border-top: 1px solid #23D2FF;
    border-top-style: outset;
    font-size: 1em;
    list-style-type: none;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    line-height: 2em;
}
#footerTemplate ul li:first-of-type {
    border-top: none;
}
.navFooterTemplate {
    display: inline-block;
    order: 1;
    color: #23D2FF;
}
.navFooterTemplate section {
    margin-left: 2%;
    margin-right: 2%;
}
#footerTemplate .row {
    margin-right: 0;
}
.footerLinks {
    display: inline-block;
    order: 2;
    border-left: 1px solid #23D2FF;
    border-left-style: outset;
    color: #23D2FF;
}
.footerLinks span {
    padding-left: 5%;
}
.footerLinks img {
    margin: 3%;
    display: inline-block;
}
#template-footer .copyright {
    margin-top: 0.5%;
    background: transparent url(../images/transFooter.png);
    text-align: right;
}
#template-header .navbar-toggle,
#template-header .navbar-toggle:hover,
#template-header .navbar-toggle:focus {
    margin-right: 0;
    background-color: rgba(35, 210, 255, 0.5);
}
/*RESPONSIVE*/

@media (max-width: 768px) {
    #content {
        padding-left: 0;
        padding-right: 0;
    }
    /*HEADER*/
    
    #template-header .dropdown {
        display: none;
        /*the menu options will be available in the footer*/
    }
    #template-header .logoBrand {
        padding-left: 0;
    }
    /*FOOTER*/
    
    #footerTemplate,
    #footerTemplate section {
        min-height: 25%;
    }
    #footerTemplate span {
        width: 100%;
        display: inline-block;
        font-size: 1em;
        text-align: center;
    }
    #footerTemplate ul li {
        border-top: 0;
        font-size: 0.75em;
        text-align: center;
    }
    #footerTemplate nav {
        display: block;
    }
    .navFooterTemplate {
        display: block;
        color: #23D2FF;
    }
    .navFooterTemplate section {
        margin: 0;
        padding-left: 2%;
        padding-right: 2%;
    }
    .navFooterTemplate section:first-of-type {
        margin-left: 5%;
    }
    .footerLinks {
        display: none;
    }
    #template-footer {
        display: block;
        font-size: 1em;
    }
}