
#modal-register, #modal-login,#modal-forgot-pass{
    max-height: 95%;
    max-width:95%;
    vertical-align: center;
}
.modal-header{
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px; 
    padding-left:0;
    border-bottom:1px solid #8FC4C1;
}
.modal-content {
    background-color:rgb(100,210,255);    
}
.form-control{
    background-color:rgba(35,210,255,0.8);
    border: 1px inset rgba(157, 157, 157, 0.22);
}
.modals ::-webkit-input-placeholder {
    color: #004A50;
}

.modals :-moz-placeholder { /* Firefox 18- */
    color: #004A50;  
}

.modals ::-moz-placeholder {  /* Firefox 19+ */
    color: #004A50; 
}

.modals :-ms-input-placeholder {  
    color: #004A50;
}
label{
    text-align: left;
    font-size: 1.5em;
}
#registerButton,#loginButton,#passButton{
    background-color: #004A50;
    border: none;
    color: #8FC4C1;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: normal;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#modal-register .modal-footer{
    border-top:1px solid #8FC4C1;
}
#div-submit{
    padding-right:0;
}
#loginInRegister,#btnForgotPass,#registerInLogin{
    border:none;
    background-color:transapent;
    background: none;
}
#btnForgotPass{
    padding-left:20%;
}
#modal-login .modal-footer{
    border:none;
    padding: 0px 10px 10px 0px;
}
#modal-login .modal-body{
    padding-bottom:0; 
}
#modal-login .form-group{
    margin-bottom:0;
}
#modal-forgot-pass .modal-footer{
    border:none;
}
.form-horizontal div{
    padding-top:1%;
}
.modals .form-horizontal label{
    padding-top:2%;
}
@media(max-width:768px){
        #btnForgotPass{
            padding-left:5%;
        }
        .radioButtons div{
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .radioButtons label:first-of-type{
            padding-left: 0;
        }
}

/*MODALS FOR PROJECT STATUS*/
.inProgress , .notWinner{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}
h1.winner{
    font-size: 2em;
    font-weight: bold;
}
.winnerInfo{
    font-size:1em;
    font-style: italic;
    padding-bottom:10%;
}