
.geekProfile, .customerProfile{
    background:rgba(255,255,255,0.2);
    height:100%;
}
#geek-emailInput, #geek-saveEmail{
    display:none;
}
#customer-emailInput, #customer-saveEmail{
    display:none;
}

/*MENU*/
.contentALL, .geekProfile,.customerProfile,.menuBox,.mainProfile{
    min-height:380px;
}
.geekProfile,.customerProfile{
    display:flex;
    align-items: stretch;
}
.menuBox {
    padding:2%;
}
.navMenu ul li{
    list-style-type: none;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
    border-bottom:1px solid #004A50;
}
.navMenu a,.navMenu a:hover{
    text-decoration: none;
    color:#004A50;
    font-size: 1.5em;
    width:100%;
    box-sizing: border-box;
}
.navMenu a:hover{
    font-weight: bold;
}
@media(min-width:768px){
    .navMenu li:last-of-type{
        padding:2% 2% 2% 2%;
    }
}
.navMenu li:nth-of-type(3),.navMenu li:nth-of-type(4){
    border:0;
}
.customerProfile .navMenu li:nth-of-type(2){
    border:0;
}
.menuBox .button{
    width: 100%;
    margin-bottom: 5%;
    font-size:1.5em;
    margin-top:20%;   
    border-radius:5px;
}
.menuBox .button:after{
    clear:both;
}
/*CONTENT*/
.contentAbout{
    font-weight: bold;
    font-size: 1.25em;
}
.mainProfile{
    background-color: rgba(255,255,255,0.5);
    height:100%;
    padding: 2%;
    text-align: left;
    font-size:1.5em;
    line-height: 2em;
}
.mainProfile h1{
   text-align: right;
   width:100%;
   border-bottom: 1px solid #004A50;
   padding-top:0.25%;
}
.infoType{
    font-weight: bold;
}
.mainProfile .button{
    font-size: 1em;
    line-height: 1.5em;
    float:  none;
    margin-top:1%;
    padding:1%;
    border-radius:5px;
}
input {
    background-color: #B1EEFF;
}
/*RESPONSIVE*/
@media(max-width:768px){
    .geekProfile ,.customerProfile{
        flex-wrap: wrap;
        min-height: auto;
    }
    .navMenu ul {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin:1%;
    }
    .navMenu ul li {
        padding:0%;
    }
    .menuBox{
        min-height: auto;
        font-size: 1em;
    }
    .navMenu .button {
        margin:0;
        width:100%;
        background-color: #004A50;
    }
    .mainProfile span,.mainProfile input{
        font-size:0.75em;
    }
    .mainProfile,.contentALL {
        min-height: auto;
    }
    .mainProfile .button{
        background-color: #004A50;
        padding: 0;
    }
    #hello-geek,#hello-customer{
        font-size: 1.5em;
    }
    
}