@media (max-width:768px){
	.table-responsive{
		font-size: 0.75em;
	}
}
.pagination-projects{
	float:right;
}
.mainProfile .pagination-projects a,
.Search .pagination-projects a {
	background-color:#B1EEFF;
	color: #004A50;
}
.mainProfile .pagination-projects a:hover,
.Search .pagination-projects a:hover {
	background-color:#23D2FF;
	color: #004A50;
}
.mainProfile .pagination-projects:after,
.Search .pagination-projects:after{
	clear:both;
}
.check-project-winner{
	color:#004A50;
	background-color: transparent;
	border:none;
}
.check-project-winner:hover{
	color:#23D2FF;
}