/*CONTENT*/

.searchOptions {
    margin-top: 10%;
}
.searchContent .button {
    padding: 1% 3% 1% 3%;
    margin-right: 2%;
    float: none;
    font-size: 1em;
    font-weight: bold;
}
.searchButtons {
    padding: 0;
}
.sliderDiv {
    display: flex;
    flex-direction: row;
}
button.add-to-watchlist {
    background-color: transparent;
    border: none;
}
.searchContent .glyphicon {
    color: #004A50;
}
div.heading {
    margin-bottom: 5%;
    margin-top: 5%;
}
.searchContent {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
#search-input {
    width: 70%;
    line-height: 2em;
    font-size: 1em;
}
.search-about {
    margin-right: 1%;
    font-size: 1em;
    font-weight: bold;
}
.table-responsive a {
    color: #004A50;
    font-weight: bold;
}
.table-responsive a:hover {
    text-decoration: none;
}
.watchlist-func button {
    padding: 0;
}
/*SLIDER STYLES AND SETTINGS*/

input[type=range] {
    display: inline;
    -webkit-appearance: none;
    border: 1px solid white;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    border-radius: 3px;
    background: #ddd;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-top: -4px;
    border-radius: 50%;
    border: none;
    background-color: #23D2FF;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
input[type=range]::-moz-range-track {
    height: 5px;
    border: none;
    border-radius: 3px;
    background: #ddd;
}
input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    background-color: #23D2FF;
}
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}
input[type=range]::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    height: 16px;
    width: 16px;
    border: none;
    border-radius: 50%;
    background-color: #23D2FF;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
#slider2 {
    border: none;
    background-color: transparent;
}
@media(min-width:768px) {
    #slider2 {
        width: 70%;
    }
}
.searchContent th {
    text-align: center;
}
/*RESPONSIVE*/

@media (max-width: 768px) {
    .searchContent .button {
        margin-bottom: 1%;
    }
    .search-about {
        font-size: 1em;
    }
    #search-input {
        width: 100%;
    }
    label {
        font-size: 1em;
    }
    div.heading h1 {
        font-size: 1.5em;
        font-weight: bold;
    }
    input[type=range] {
        width: 100%;
    }
    .sliderDiv {
        margin-top: 35%;
        margin-bottom: 5%;
    }
    .searchButtons {
        margin-top: 5%;
    }
}